html,
body {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  width: 100% ;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
th {
  cursor: pointer;
}
th:hover {
  background:  yellow;
}
tr:hover {
  background: lightyellow ;
}
tr.choice {
  background: lightyellow !important;
}
td:first-child {
  display:none;
}
th:first-child {
  display:none;
}

tr, li {
  background: #CCCCFF ;
}

tr.odd, li.odd {
  background: #E6F2FF ;
}

tr.odd:hover, li.odd:hover {
  background: lightyellow ;
}

tr.head {
  background: #CCFFFF ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.divbutton {
  margin: 2px;
  padding: 4px;
  border: 4px;
  background: #3366FF;
  font-size: 22px;
  vertical-align: baseline;
  font-family: inherit;
  color: white;
  border-style: groove ;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.divbutton:disabled {
  color: grey;
  background: #9eb6ff ;
}
 
#deletebutton {
  background: red;
  float: right;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  /*
  background: #eaeaea url('bg.png');
  */
  background: #8C9BFB;
  /*
  background: -moz-linear-gradient(top, #8C9BFB 0%, #91ADCB 31%, #86E9D1 100%);
  background: -webkit-linear-gradient(top, #8C9BFB 0%, #91ADCB 31%, #86E9D1 100%);
  background: linear-gradient(to bottom, #8C9BFB 0%, #91ADCB 31%, #86E9D1 100%);
  */
  color: #4d4d4d;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#missiondbody {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 100px 0 0 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#missiondbody h1 {
  position: absolute;
  top: -120px;
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

#patientListDiv, #patientOpenDiv, #patientEditDiv, #commentListDiv, #commentEditDiv {
  display: none ;
}

#patientEditDiv {
  display: none ;
}

footer {
  color: darkblue;
  position: absolute;
  right: 0;
  left: 0;
  height: 10px;
  text-align: center;
  font-size: 12px;
}

.hidden{
    display:none;
}

#syncstatus {
  background: paleblue;
  border: 4px;
  }
